.wrap {
  margin: auto;
  max-width: 1200px;
  width: 80%;
  border-left: 1px solid cornflowerblue;
  border-right: 1px solid cornflowerblue;
  font-family: Roboto;
}
.header {
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
}
.calendar {
  max-width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.error {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.vaccineHeader {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid cornflowerblue;
}
.vaccineWrap {
  display: inline;
  height: fit-content;
  overflow: hidden;
  font-size: 16px;
  padding-bottom: 10px;
}
.vaccineLeft {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
}
.vaccineRight {
  overflow: hidden;
  margin-right: 10px;
}
.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.vaccineInfo {
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
}
.genders {
  text-align: center;
}
@media screen and (max-width: 900px) {
  .wrap {
    width: 100%;
  }
  .vaccineLeft {
    float: none;
    width: auto;
  }
}
